In [1]:
print("saif")

saif

In [2]:
def saad(a,b):
   mean=(a*b/a+b)
   print(mean)
def saif(a,b):
    if(a>b):
        print("1 is greater")
    else:
        print("2 si greater") 
c=3
b=2
saif(c,b)
#if(c>b):
 #  print("c is greater")
#else:
 #  print("b si greater")
saad(c,b)   
e=22
g=44
saif(e,g)
saad(e,g)

1 is greater
4.0
2 si greater
88.0

In [3]:
def saad(a=4,b=6):
    print("saad",(a+b/2))
saad()

saad 7.0

In [4]:
def saad(a,b):
    print("saad",(a+b/2))
saad(4,6)

saad 7.0

In [5]:
saad(4,6)
def saad(x,y):
    print("saad",(x+y/2))

saad 7.0

In [6]:
def name(fname, mname = "Jhon", lname = "Whatson"):
    print("Hello,", fname, mname, lname)

name("saad")

Hello, saad Jhon Whatson

In [7]:
def name(fname, mname, lname):
    print("Hello,", fname, mname, lname)

name("Peter", "Quill","op")

Hello, Peter Quill op

In [8]:
def average(*numbers):
  # print(type(numbers))
   sum = 0
   for i in numbers:
    sum = sum + i
  # print("Average is: ", sum / len(numbers))
    return sum / len(numbers)
c=average(1,2,3,4)
print(c)

0.25

In [9]:
def average(*numbers):
    #print(type(numbers))
    sum = 0
    for i in numbers:
        sum = sum + i
    print("Average is: ", sum / len(numbers))
average(4,4,7,8)

Average is:  5.75

In [10]:
lista=['saif',2,'saad',3,'ali',4]
print('lista:',lista)

lista: ['saif', 2, 'saad', 3, 'ali', 4]

In [11]:
sum =7
sum1=2
sum3=sum1+sum
print(sum3)

9

In [12]:
a = CustomInt(7)
b = CustomInt(2)
result = a + b
print(result)

NameError: name 'CustomInt' is not defined

In [8]:
colors = ["Red", "Green", "Blue", "Green"]
if "Yellow" in colors:
    print("Yellow is present.")
else:
    print("Yellow is absent.")

Yellow is absent.

In [29]:
saad=["1","2","3","4","5",6,7,8,9,0]
print(saad[-2])
print(saad[len(saad)-2])
if "5" in saad:
    print("yes")
print(saad[1:9])  
print(saad[0:9])  
print(saad[1:9:4])

9
9
yes
['2', '3', '4', '5', 6, 7, 8, 9]
['1', '2', '3', '4', '5', 6, 7, 8, 9]
['2', 6]

In [32]:
lst = [i*i for i in range(10)]
print(lst)
lst = [i*i for i in range(10) if i%2==0]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [40]:
saad=[saif*saif for saif in range(20)]
print(saad)
saad=[saif*saif for saif in range(10) if saif%2==0]
print(saad)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 4, 16, 36, 64]

In [62]:
l = [11, 45, 1, 2, 4, 6, 1, 1]
l.append(7)
print(l)
l.sort(reverse=True)
print(l)
l.reverse()
print(l)
print(l.index(1))
print(l.count(1))
m=l.copy()
print(l)
l.insert(1,899)
print(l)
m=[300,200,500]
l.extend(m)
print(l)

[11, 45, 1, 2, 4, 6, 1, 1, 7]
[45, 11, 7, 6, 4, 2, 1, 1, 1]
[1, 1, 1, 2, 4, 6, 7, 11, 45]
0
3
[1, 1, 1, 2, 4, 6, 7, 11, 45]
[1, 899, 1, 1, 2, 4, 6, 7, 11, 45]
[1, 899, 1, 1, 2, 4, 6, 7, 11, 45, 300, 200, 500]

In [55]:
saad = [11, 45, 1, 2, 4, 6, 1, 1]
print(saad)
saad.reverse()
print(saad)

[11, 45, 1, 2, 4, 6, 1, 1]
[1, 1, 6, 4, 2, 1, 45, 11]

In [56]:
saif=[1,2,3,4,5]
saif.append(6)
print(saif)

[1, 2, 3, 4, 5, 6]

In [76]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item 
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
print(temp)

['Spain', 'Italy', 'Finland', 'Germany', 'Russia']

In [72]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item 
print(temp)
temp.pop(3) 
print(temp)
temp[2] = "Finland"
print(temp)

['Spain', 'Italy', 'India', 'England', 'Germany', 'Russia']
['Spain', 'Italy', 'India', 'Germany', 'Russia']
['Spain', 'Italy', 'Finland', 'Germany', 'Russia']

In [12]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

04:44:39
04
44
39

In [13]:
import time
timestamp = time.strftime('%h:%m:%s')
print(timestamp)

ValueError: Invalid format string

In [ ]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

In [14]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)

04:49:52

In [38]:
import time
t = time.strftime('%H:%M:%S')
hour=int(time.strftime("%H"))
#hour = int(input("Enter hour: "))
print("time",t)
print(hour)
minute=int(time.strftime("%M"))
print(minute)
second=int(time.strftime("%S"))
print(second)
if (hour>0 and hour<12):
    print("good morning")
elif(hour>12 and hour<18):
    print("hgdiugiog")
elif(hour>18 and hour<24):
    print("saif")
else:
    ("program waar gaya")

time 05:08:14
5
8
14
good morning

In [36]:
import time
t = time.strftime('%H:%M:%S')
hour=int(time.strftime("%H"))
print("time",t)
print(hour)

time 05:05:41
10

In [37]:
import time
t = time.strftime('%H:%M:%S')
hour = int(input("Enter hour: "))
print("time",t)
print(hour)

time 05:06:14
45

In [41]:
# Convert hours to seconds
hours = int(input("Enter hours: "))
seconds = hours * 3600
print(f"{hours} hours is equal to {seconds} seconds.")

30 hours is equal to 108000 seconds.

In [7]:
info = "my name is {} i am {}"
name="saif"
age="18"
print(info.format(name,age))

my name is saif i am 18

In [12]:
price = 49.09999
txt = f"For only {price:.2f} dollars!"
print(txt)

For only 49.10 dollars!

In [13]:
print(type(f"{2 * 30}"))

<class 'str'>

In [14]:
print((f"{2 * 30}"))

60

In [15]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [16]:
def square(n):
  '''Takes in a number n, returns the square of n'''
  print(n**2)
square(5)
print(square.__doc__)

25
Takes in a number n, returns the square of n

In [19]:
factorial(7)=7*6*5*4*3*2*1
print(factorial(7))

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (162874534.py, line 1)

In [20]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)  # Recursive approach

print(fibonacci(6))
print(fibonacci(5))
print(fibonacci(4))
print(fibonacci(3))
print(fibonacci(2))
print(fibonacci(1))
print(fibonacci(0))

8
5
3
2
1
1
0

In [41]:
a = int(input("Enter any number : "))

def fibonacci(n):
    if (n == 1 or n == 0):
        return n
    else:
        return fibonacci(n-1)+fibonacci(n-2)

for i in range(a):
    print(fibonacci(i))

0
1
1

In [24]:
def fibonacci(n):

  fib_sequence = [0,1]

  while len(fib_sequence) <= n:
      next_term = fib_sequence[-1] + fib_sequence[-2]
      fib_sequence.append(next_term)

  return fib_sequence

# Example: Find the 10th term of the Fibonacci sequence
n = 10
result = fibonacci(n)
print(f"The {n}th term of the Fibonacci sequence is: {result[-1]}")

# ab jab poora prh liya h to like bhi krdo

The 10th term of the Fibonacci sequence is: 55

In [37]:
def factorial(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*factorial(n-1)
print("factorial of 3 =",   factorial(3))

factorial of 3 = 6

In [42]:
a=int(input("enter a number:"))
def factorial(n):
    if(n==0 or n==1):
         return 1
    else:
        return n *factorial(n-1)+factorial(n+2)
for i in range(a):
    print(factorial(i))

1
1

RecursionError: maximum recursion depth exceeded

In [44]:
a=int(input("enter a number:"))
def factorial(n):
    if(n==0 or n==1):
         return 1
    else:
        return n *factorial(n-1)
for i in range(a):
    print(factorial(i))

1
1
2
6
24
120

In [11]:
a="32.2"
# b=type(int(a))
# b=type(float(a))
t=type(a)
print(t)

<class 'str'>

In [19]:
a=input("enter a number 1:")
b=input("enter a number 2:")
print("number of a:",a)
print("number of b:",b)
print(a+b)

number of a: 40
number of b: 30
4030

In [20]:
a=int(input("enter a number 1:"))
b=int(input("enter a number 2:"))
print("number of a:",a)
print("number of b:",b)
print(a+b)

number of a: 40
number of b: 30
70

In [ ]:
a=int(input("enter a number 1:"))
b=int(input("enter a number 2:"))
print("number of a:",a)
print("number of b:",b)
print(a%b)

In [24]:
a=int(input("enter a number 1:"))
b=int(input("enter a number 2:"))
print("number of a:",a)
print("number of b:",b)
z=a%b
print(z)

number of a: 41
number of b: 20
1

In [31]:
a=input()
t=type(a)
# b=int(input("enter a number 2:"))
# print("number of a:",a)
# print("number of b:",b)
# print(a+b)
print(t)

<class 'str'>

In [1]:
a=["saad","saif",'akdojiof']
print(a[0])
a.append("ali")
print(a)
b=[3,9,7,5,2,0,6]
b.sort()
print(b)
b=[3,9,7,5,2,0,6]
b.insert(5,15) #5 is the place not interger
print(b)
b=[3,9,7,5,2,0,6]
b.pop(3)       #3 is the place not interger
print(b)
b=[3,9,7,5,2,0,6]
b.remove(3)     #3 is not a place its integer
print(b)

saad
['saad', 'saif', 'akdojiof', 'ali']
[0, 2, 3, 5, 6, 7, 9]
[3, 9, 7, 5, 2, 15, 0, 6]
[3, 9, 7, 2, 0, 6]
[9, 7, 5, 2, 0, 6]

In [4]:
a=(1,4,7,8,2)
print(type(a))
a[0]="saad"
print(a[0])

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [5]:
b=[1,2,3,4,5,6]
print(type(b))
b[0]="saad"
print(b[0])

<class 'list'>
saad

In [ ]:
c="saad"
print(type(c))
c[0]="1"
print(c[0])

In [36]:
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Format the date and time
current_date = now.strftime("%Y-%m-%d")
current_time = now.strftime("%H:%M:%S")
current_day = now.strftime("%A")

# Display the results
print("Current Date:", current_date)
print("Current Time:", current_time)
print("Day of the Week:", current_day)

Current Date: 2024-09-20
Current Time: 11:55:45
Day of the Week: Friday

In [27]:
d={}    #empty set
marks = {
    "Saad": 100 ,
    "ali": 27 ,
    "op": 449 ,
    "sabi": 70 ,

}
# print(marks,type(marks))
# print(marks.items())
# print(marks.keys())
# print(marks.values())
# marks.update({"Saad": 99,"areesha":100,})
# print(marks)
# print(marks.get("Saad2"))   #print none or value of saad if 2 did not write
# print(marks["Saad2"])       #print value of saad if 2 did not write if 2 write it will give an error
# marks.clear()
marks.popitem()
print(marks)

{'Saad': 100, 'ali': 27, 'op': 449}

In [1]:
marks1 = int(input("Enter Marks 1: "))
marks2 = int(input("Enter Marks 2: "))
marks3 = int(input("Enter Marks 3: "))

# Check for total percentage
total_percentage = (100*(marks1 + marks2 + marks3))/300

if(total_percentage>=40 and marks1>=33 and marks2>=33 and marks3>=33):
    print("You are passed:", total_percentage)

else:
    print("You failed, try again next year:", total_percentage)

You failed, try again next year: 80.0

In [1]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
num4 = float(input("Enter fourth number: "))

max_num = num1

if num2 > max_num:
    max_num = num2

if num3 > max_num:
    max_num = num3

if num4 > max_num:
    max_num = num4

print("The greatest number is", max_num)

The greatest number is 50.0

In [2]:
num_list = []

for i in range(4):
    num = float(input("Enter a number: "))
    num_list.append(num)

max_num = max(num_list)

print("The greatest number is:", max_num)

The greatest number is: 78.0

In [35]:
# s=set() #empty set
s={1,2,3,1,2,3,4,5,6,7} #no repetition is allowed
print(s)
print(type(s))
# s.add("saad")
# print(s)
s.remove(1)
print(s)

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 'saad'}
{2, 3, 4, 5, 6, 7, 'saad'}

In [39]:
saif={1,2,3,4,5,6}
saad={1,2,3,4,5,6,7,8,9,0}
print(saif.union(saad))
print(saif.intersection(saad))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}

In [42]:
words={
"Mohabba": "Love",
"Dost":     "Friend",
"Khushi":   "Happiness",
"Kitaab":   "Book",
"Pani":     "Water",
"Khawab":   "Dream",
"Khandan":  "Family",
"Safar":    "Journey",
"Zindagi": " Life",
"Taleem":   "Education",
}
word=input("enter the word you want a meaning:")
print(words[word])

 Life

In [1]:
def book_info(title, author, year):
    print(f"'{title}' by {author}, published in {year}")

book_info(title="1984", author="George Orwell", year=1949)
# Output: '1984' by George Orwell, published in 1949

'1984' by George Orwell, published in 1949

In [9]:
name=["saad","saif","ali"]
print(name)
# name.pop()
# print(name)
my_name=list("saad")
print(my_name)
name.append("sabi")
print(name)

['saad', 'saif', 'ali']
['s', 'a', 'a', 'd']
['saad', 'saif', 'ali', 'sabi']

In [19]:
class Person:
    def __init__(self, name):
        self.cname = name

    def display_info(self):
        print(f"my name is {self.cname}")

new_person = Person("Rehan")
# print(new_person.__dict__)
new_person.display_info()
print(new_person.__class__)

another_person = Person("Saad")
another_person.display_info()
# print(another_person.__dict__)

my name is Rehan
<class '__main__.Person'>
my name is Saad

In [12]:
for number in range(2,11):
    for i in range(1,11):
        print(f"{number}*{i}={number*i}")
    print()

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [22]:
# Parent class
class User:
    def __init__(self, username, email):
        self.username = username
        self.email = email

    def display_user_info(self):
        print(f"User: {self.username}, Email: {self.email}")

In [24]:
class admin(user):
    def_init_(self,access_level):
    super().__init__(username, email)
    self.access_level =access_level


user01=admin()
print(user01.__dict__)

SyntaxError: invalid syntax (3624804039.py, line 2)

<!-- polymorphism -->
poly----many    morphism-----forms

In [12]:
import random
computer=random.choice([-1,0,1])
saif=input("enter the number:")
saad={'s':-1, 'g':0 ,'w':1}
reversesaad={1:'snake',-1:'gun',0:'water'}
sabi=saad[saif]
print(f"You chose {reversesaad[sabi]}\nComputer chose {reversesaad[computer]}")
if computer==sabi:
    print("draw")
else:
    if(computer==-1 and sabi==1):
        print("you win")
    elif(computer==-1 and sabi==0):
        print("you lose")
    if(computer==1 and sabi==-1):
        print("you lose")
    elif(computer==1 and sabi==0):
        print("you win")
    elif(computer==0 and sabi==-1):
        print("you win")
    elif(computer==0 and sabi==1):
        print("you lose")
    else:
        print("some thing wants wrong")

You chose water
Computer chose snake
you win

In [6]:
class person:
    name="saif"
    occuption="python developer"
    income=0
a=person()
print(a.name,a.occuption)

saif python

In [10]:
class person:
    name="saif"
    occuption="python developer"
    income=0
a=person()
a.name="saad"
a.occuption="python"
print(a.name,a.occuption)

saad python

In [25]:
class person:
    name="saif"
    occuption="python developer"
    income=3500
    def info(self):
        print(f"{self.name} is a {self.occuption} and its {self.income}")

a=person()
b=person()
c=person()
b.name="sabi"
b.occuption="games playing 24 hour"
b.income="1200"
# print(a.name,a.occuption)
a.info()
b.info()

saif is a python developer and its 3500
sabi is a games playing 24 hour and its 1200